@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Hoon Ice Tea";
    src: url(./font/hoon-ice-tea.woff);
    src: url(./font/hoon-ice-tea.woff2);
    src: url(./font/hoon-ice-tea.ttf);
}

@font-face {
    font-family: "Hoon Parasol";
    src: url(./font/hoon-parasol.woff);
    src: url(./font/hoon-parasol.woff2);
    src: url(./font/hoon-parasol.ttf);
}

:root{
    // font
    --primary-font : "Hoon Parasol", sans-serif;
    --sec-font : "Hoon Ice Tea", sans-serif;
    --par-font : "Inter", serif;

    // color
    --primary-color : #F5FDFF;
    --sec-color : #7FB5C3;
    --tertier-color : #5591A1;
    --accent-color : #CFECF4;
    --text-black : #454545;


}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size : calc(.625 * 16px);
}

body{
    width: 100vw;
    background-color: var(--primary-color);
    overflow-x: hidden;
}

a,
button,
input{
    color: black;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
}

ul{
    list-style: none;
}

b,
span{
    font: inherit;
    color: inherit;
}

.wrapper{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.nav-wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    padding-inline: 7.2rem;
    margin-top: 3rem;


    .nav-container{
        width: 100%;
        display: flex;
        border: 2px solid var(--accent-color);
        border-radius: 46.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 7.6em;
        background: var(--primary-color);

        .nav-item{
            width: fit-content;
            height: fit-content;
            transform: scale(1);
            transition: transform .6s ease-in-out;

            &:hover{
                transform: scale(1.2);                    
            }

            .nav-link{
                font-family: var(--sec-font);
                font-weight: 400;
                color: var(--tertier-color);
                font-size: 2.2rem;
            }
        }
    }
}

.shop--page{
    display: flex;
    padding-inline: 10.5rem;
    justify-content: space-between;

    .content--container{
        display: flex;
        flex-direction: column;
        row-gap: 7.4rem;

        .title--group{
            display: flex;
            flex-direction: column;
            row-gap: 2.2rem;

            h1{
                font-family: var(--par-font);
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--text-black);
                display: flex;
                align-items: center;
                column-gap: 1.2rem;

                &::before{
                    content: "";
                    width: 2.7rem;
                    height: 1px;
                    background-color: var(--text-black);
                }
            }
            h2{
                font-family: var(--primary-font);
                font-size: 10rem;
                font-weight: 400;
                color: var(--sec-color);
                width: 75%;
            }
            p{
                font-family: var(--par-font);
                font-size: 1.8rem;
                color: var(--text-black);
                line-height: 3.8rem;
                width: 75%;
    
                b{
                    font-weight: 700;
                }
            }
        }
    }

    .icon{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}